# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

# SOLUTION

### 1. Count the number of times `iNeuron` appears in the string.
 ```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [1]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
counting = text.count("iNeuron")
print(counting)

3

2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [2]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
txt[5:11] == "iNeuron."

False

3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [3]:
name = input("Enter Your Full Name : ")

first_name, middle_name, last_name = name.split(" ")

first_name = first_name.title()
middle_name = middle_name.title()
last_name = last_name.title()

print(f"Your Name is : {first_name[0]}.{middle_name[0]}. {last_name}")

Enter Your Full Name : Sunny Bhaveen Chandra
Your Name is : S.B. Chandra

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [4]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
LIST = "#".join(LIST)
print(LIST)

My#name#is#Rishav#Dash

5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [5]:
# - isdecimal() # The isdecimal() method returns True if all the characters are decimals (0-9).
isdec1 = "123456.65" # it will print False
isdec2 = "123456" # it will print True
print(isdec1.isdecimal()) 
print(isdec2.isdecimal())

False
True

In [6]:
#islower() # The islower() method returns True if all the characters are in lower case, otherwise False.
islow1 = "my name is md saif ali" # it will print True
islow2 = "My Name is Md Saif Ali" # it will print False
print(islow1.islower()) 
print(islow2.islower())

True
False

In [7]:
# isupper() #The isupper() method returns True if all the characters are in upper case, otherwise False.
isupp1 = "MY NAME IS MD SAIF ALI" # it will print True
isupp2 = "My Name is Md Saif Ali" # it will print False
print(isupp1.isupper()) 
print(isupp2.isupper())

True
False

In [8]:
# isalpha() # The isalpha() method returns True if all the characters are alphabet letters (a-z).
isalp1 = "MYNAMEISMDSAIFALI" # it will print True
isalp2 = "My Name is Md Saif Ali" # it will print False
print(isalp1.isalpha()) 
print(isalp2.isalpha())

True
False

In [9]:
# isnumeric() # The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
isnum1 = "123456.65" # it will print False
isnum2 = "123456" # it will print True
print(isnum1.isnumeric()) 
print(isnum2.isnumeric())

False
True

6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [10]:
PAN_CARD = input("Enter PAN CARD Number : ")
PAN_CARD = PAN_CARD.upper()

first = PAN_CARD[0:5]
second = PAN_CARD[5:9]
third = PAN_CARD[9]

# length = len(PAN_CARD)
# first.isalpha()
# second.isdecimal()
# third.isalpha()

if len(PAN_CARD) == 10 and first.isalpha() and second.isdecimal() and third.isalpha():
  print("PAN CARD Verification is Successfully Completed")
  print("PAN CARD is Original")
else:
  print("PAN CARD Verification is not Completed, you have entered wrong PAN NUMBER.\nPlease check and then try again....")

Enter PAN CARD Number : AYEPC7894X
PAN CARD Verification is Successfully Completed
PAN CARD is Original